// reset
*{
  margin:0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-size: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}

p {
  margin-bottom: 10px;
}

.weather-info {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #eee url('https://mblogthumb-phinf.pstatic.net/20120801_196/ghj19735_1343786467806cRLzT_JPEG/ci0004_lbe1986.jpg?type=w800') no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  
  .city {
    padding: 10px;
    background: rgba(0,0,0,.45);
    font-size: 1.8em;
  }
  .weather-box {
    padding: 20px;
    text-shadow: 1px 1px 1px #999;
  }
  .figcaption {
    text-align: left;
  }

  figure, .temp {
    float: left;
    width: 33.3333%;
  }
  figure {
    text-align: left;
    img {
      width: 80px;
    }
  }
  .temp {
    font-size: 3.4em;
  }
  aside {
    p {
      font-size: 1.8em;
      text-align: right;
    }
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    transform: translate(-50%, -50%);
  }
}